-- NOTE:
-- This script sets MDF/LDF file paths to a local SQLEXPRESS default installation directory.
-- On a different machine, adjust FILENAME paths or remove them to let SQL Server choose defaults.
-- Example portable create:
--   CREATE DATABASE [BankaDB];
-- Then run the remaining objects (tables, FKs, procedures) under USE [BankaDB].
USE [master]
GO
/****** Object:  Database [BankaDB]    Script Date: 8/11/2025 11:45:14 AM ******/
CREATE DATABASE [BankaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriNo] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Sube] [nvarchar](50) NULL,
	[KrediNotu] [int] NULL,
	[Cinsiyet] [nvarchar](10) NULL,
	[DogumTarihi] [date] NULL,
	[KayitTarihi] [date] NULL,
	[KrediTutari] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [int] NULL,
	[GuncelOdemeTutari] [decimal](18, 2) NULL,
	[GuncelBorcTutari] [decimal](18, 2) NULL,
	[SonOdemeTarihi] [date] NULL,
	[GecikmisBorcTutari] [decimal](18, 2) NULL,
	[OdenmisBorcTutari] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeLog]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [int] NULL,
	[OdemeTutari] [decimal](18, 2) NULL,
	[OdemeTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[OdemeLog] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[Musteriler] ([MusteriNo])
GO
ALTER TABLE [dbo].[OdemeLog]  WITH CHECK ADD FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[Musteriler] ([MusteriNo])
GO
/****** Object:  StoredProcedure [dbo].[MusteriGetirBySube]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MusteriGetirBySube]
	@Sube NVARCHAR(50)
AS
BEGIN
	SELECT * FROM Musteriler WHERE Sube = @Sube;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriDetayGetir]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MusteriDetayGetir]
    @MusteriNo INT
AS
BEGIN
    SELECT 
        M.MusteriNo,
        M.Ad,
        M.Soyad,
        M.Telefon,
        M.Sube,
        M.KrediNotu,
        M.Cinsiyet,
        M.DogumTarihi,
        M.KrediTutari,
        M.KayitTarihi,
        O.GuncelBorcTutari,
        O.OdenmisBorcTutari,
        O.GuncelOdemeTutari,
        O.SonOdemeTarihi,
        O.GecikmisBorcTutari
    FROM Musteriler M
    JOIN Odemeler O ON M.MusteriNo = O.MusteriNo
    WHERE M.MusteriNo = @MusteriNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriEkle]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MusteriEkle]
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
    @Telefon NVARCHAR(15),
    @Sube NVARCHAR(50),
    @KrediNotu INT,
    @Cinsiyet NVARCHAR(10),
    @DogumTarihi DATE,
    @KrediTutari DECIMAL(18,2)
AS
BEGIN
    INSERT INTO Musteriler (Ad, Soyad, Telefon, Sube, KrediNotu, Cinsiyet, DogumTarihi, KrediTutari)
    VALUES (@Ad, @Soyad, @Telefon, @Sube, @KrediNotu, @Cinsiyet, @DogumTarihi, @KrediTutari);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriGetir]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_MusteriGetir]
AS 
BEGIN
	SELECT * FROM Musteriler;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriGuncelle]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MusteriGuncelle]
    @MusteriNo INT,
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
    @Telefon NVARCHAR(15),
    @Sube NVARCHAR(50),
    @KrediNotu INT,
    @Cinsiyet NVARCHAR(10),
    @DogumTarihi DATE,
    @KrediTutari DECIMAL(18,2)
AS
BEGIN
    UPDATE Musteriler
    SET 
        Ad = @Ad,
        Soyad = @Soyad,
        Telefon = @Telefon,
        Sube = @Sube,
        KrediNotu = @KrediNotu,
        Cinsiyet = @Cinsiyet,
        DogumTarihi = @DogumTarihi,
        KrediTutari = @KrediTutari
    WHERE MusteriNo = @MusteriNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriSil]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MusteriSil]
    @MusteriNo INT
AS
BEGIN
    -- Önce ilişkili verileri sil
    DELETE FROM OdemeLog WHERE MusteriNo = @MusteriNo;
    DELETE FROM Odemeler WHERE MusteriNo = @MusteriNo;
    DELETE FROM Musteriler WHERE MusteriNo = @MusteriNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeAl]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeAl]
    @MusteriNo INT,
    @OdemeTutari DECIMAL(18,2),
    @Aciklama NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Ödeme kaydını logla
        INSERT INTO OdemeLog (MusteriNo, OdemeTutari, Aciklama)
        VALUES (@MusteriNo, @OdemeTutari, @Aciklama);

        -- 2. Güncel borç bilgilerini al
        DECLARE @GuncelBorc DECIMAL(18,2);
        DECLARE @GuncelOdeme DECIMAL(18,2);
        DECLARE @OdenmisBorc DECIMAL(18,2);
        DECLARE @GecikmisBorc DECIMAL(18,2);

        SELECT
            @GuncelBorc = GuncelBorcTutari,
            @GuncelOdeme = GuncelOdemeTutari,
            @OdenmisBorc = OdenmisBorcTutari,
            @GecikmisBorc = GecikmisBorcTutari
        FROM Odemeler
        WHERE MusteriNo = @MusteriNo;

        -- 3. Ödeme kadar borcu düş
        DECLARE @YeniGuncelBorc DECIMAL(18,2) = @GuncelBorc - @OdemeTutari;
        DECLARE @YeniOdeme DECIMAL(18,2) = @GuncelOdeme - @OdemeTutari;
        DECLARE @YeniOdenmisBorc DECIMAL(18,2) = @OdenmisBorc + @OdemeTutari;

        -- Negatif değer olmaması için koruma
        IF @YeniGuncelBorc < 0 SET @YeniGuncelBorc = 0;
        IF @YeniOdeme < 0 SET @YeniOdeme = 0;

        -- 4. Gecikmiş borcu yeniden hesapla (son ödeme tarihi geçmişse)
        DECLARE @Bugun DATE = GETDATE();
        DECLARE @SonOdemeTarihi DATE;

        SELECT @SonOdemeTarihi = SonOdemeTarihi
        FROM Odemeler
        WHERE MusteriNo = @MusteriNo;

        IF @SonOdemeTarihi < @Bugun
        BEGIN
            -- gecikmiş borçtan ödeme düşülsün
            DECLARE @YeniGecikmisBorc DECIMAL(18,2) = @GecikmisBorc - @OdemeTutari;
            IF @YeniGecikmisBorc < 0 SET @YeniGecikmisBorc = 0;

            UPDATE Odemeler
            SET 
                GuncelBorcTutari = @YeniGuncelBorc,
                GuncelOdemeTutari = @YeniOdeme,
                OdenmisBorcTutari = @YeniOdenmisBorc,
                GecikmisBorcTutari = @YeniGecikmisBorc
            WHERE MusteriNo = @MusteriNo;
        END
        ELSE
        BEGIN
            -- gecikme yoksa sadece normal alanları güncelle
            UPDATE Odemeler
            SET 
                GuncelBorcTutari = @YeniGuncelBorc,
                GuncelOdemeTutari = @YeniOdeme,
                OdenmisBorcTutari = @YeniOdenmisBorc
            WHERE MusteriNo = @MusteriNo;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- Hataları göstermek için
        DECLARE @ErrorMessage NVARCHAR(4000);
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeDetayGetir]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeDetayGetir]
    @MusteriNo INT
AS
BEGIN
    SELECT 
        LogID,
        MusteriNo,
        OdemeTutari,
        OdemeTarihi,
        Aciklama
    FROM OdemeLog
    WHERE MusteriNo = @MusteriNo
    ORDER BY OdemeTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeIadeEt]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeIadeEt]
    @MusteriNo INT,
    @IadeTutari DECIMAL(18,2),
    @Aciklama NVARCHAR(255)
AS
BEGIN
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 1. OdemeLog tablosuna insert (İADE)
        INSERT INTO OdemeLog (MusteriNo, OdemeTutari, OdemeTarihi, Aciklama)
        VALUES (@MusteriNo, -@IadeTutari, GETDATE(), CONCAT('İADE - ', @Aciklama));

        -- 2. Odemeler tablosunu güncelle
        UPDATE Odemeler
        SET 
            GuncelBorcTutari = GuncelBorcTutari + @IadeTutari,
            OdenmisBorcTutari = OdenmisBorcTutari - @IadeTutari
        WHERE MusteriNo = @MusteriNo;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemesiGecikenleriGetir]    Script Date: 8/11/2025 11:45:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemesiGecikenleriGetir]
AS
BEGIN
    SELECT 
        M.MusteriNo, M.Ad, M.Soyad, M.Sube,
        O.GuncelBorcTutari, O.GecikmisBorcTutari, O.SonOdemeTarihi
    FROM Odemeler O
    JOIN Musteriler M ON O.MusteriNo = M.MusteriNo
    WHERE O.SonOdemeTarihi < GETDATE() AND O.GecikmisBorcTutari > 0
    ORDER BY O.SonOdemeTarihi ASC;
END;
GO
USE [master]
GO
